<div style="margin: auto; width: 50%">

    <div class="card w-100">
        <h1 class="mt-4 text-center underline"><strong>Mes invitations</strong></h1>

        <div class="titre">
            <h3 class="mt-3">En attente <i class="far fa-bell"></i></h3>
        </div>

        <!--Invitation 1-->
        <div *ngFor="let i of invitation">


            <div class="col-lg-12 col-md-8 mb-4 mb-md-0">

                <div class="view overlay">

                    <div class="card w-100">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="https://zupimages.net/up/22/47/pd6v.jpg"
                                    class="img-fluid rounded border border-dark" alt="Card image cap">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h3 class="card-title"><strong>Expéditeur :{{i.repas.hote.nom}} {{i.repas.hote.prenom}}</strong></h3>
                                    <h3 class="card-title"><strong>Date : {{i.repas.date}}</strong></h3>
                                    <h3 class="card-title"><strong>Lieu : {{i.repas.adresse}}</strong></h3>
                                    <h3 class="card-title"><strong>Thème : {{i.repas.theme}}</strong></h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="rep">
                        <button class="btn btn-success mt-4 mb-4">Accepter</button>
                        <button class="btn btn-danger mt-4 mb-4" (click)="supInvite(i.id)">Refuser</button>
                    </div>
                </div>
            </div>
        </div>