<div style="margin: auto; width: 40%">
    <div class="card w-100 ">
        <h1 class="mt-5 text-center underline">Invitez des amis à un repas</h1>
        <br>

        <form>
            <div class="titre">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Adresse du repas</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Thême</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Date</label>
                    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
            </div>
            <div class=recherche>

                <form class="d-flex" role="search">
                    <input class="form-control" type="search" placeholder="Rechercher une personne" aria-label="Search">
                    <button type="submit">Search</button>

                </form>
            </div>
            <br>
            <ul>
                <div class="form-check">
                    <li> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Ami 1</label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Ami 2</label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Ami 3</label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Ami 4</label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Ami 5</label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Ami 6</label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Ami 7</label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Ami 8</label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Ami 9</label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Ami 10</label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Ami 11</label>
                    </li>
                    <li> <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                        <label class="form-check-label" for="flexCheckChecked">Ami 12</label>
                    </li>

                   
                </div>
            </ul>
            <button type="submit" class="envoyer btn">Envoyer l'invitation</button>

        </form>
    </div>
</div>