<div style="margin: auto; width: 40%">
    <div class="card w-100 ">
        <h1 class="mt-5 text-center underline">Invitez des amis à un repas</h1>
        <br>

        <form #register="ngForm" (ngSubmit)="createRepas(register.value)">
            <div class="titre">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Adresse du repas</label>
                    <input type="text" class="form-control" ngModel="" name = "adresse" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Thème</label>
                    <input type="text" class="form-control" ngModel="" name = "theme" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Date</label>
                    <input type="date" class="form-control" ngModel="" name = "date" aria-describedby="emailHelp">
                </div>
            </div>
            <button type="submit" class="envoyer btn">Créer le repas</button>

            </form>
            <div class=recherche>

                <form class="d-flex" role="search">
                    <input class="form-control" type="search" placeholder="Rechercher une personne" aria-label="Search">
                    <button type="submit">Search</button>
                </form>
            </div>
            <br>
            <ul>
                <div class="form-check">
                    <li *ngFor="let r of amis">
                    <form #register="ngForm" (ngSubmit)="envoieParticipations(register.value, r)">
                    <label class="form-check-label">{{r.nom}} {{r.prenom}}</label>
                    <button type ="submit" mat-raised-button color="primary">Inviter</button>
                    <p></p>
                    </form>
                    </li>
                </div>
            </ul>
            
    </div>
</div>