<div style="margin: auto; width: 50%">

    <div class="card w-100">
        <h1 class="mt-5 text-center underline"><strong>Liste de courses <i class="fas fa-cart-plus"></i></strong></h1>

        <div class="col-lg-12 col-md-8 mb-4 mb-md-0">
          
            <!-- boissons -->
            <div class="view overlay">

                <div class="card w-100">
                    <div class="row g-0">

                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title "><strong>Boissons</strong></h3>
                                <p class="alinea shadow-lg p-2 mb-2 bg-body rounded"><font size=4> - Café</font></p>
                                <p class="alinea shadow-lg p-2 mb-2 bg-body rounded"><font size=4> - Eau</font></p>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- viandes -->
            <div class="view overlay">

                <div class="card w-100">
                    <div class="row g-0">

                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title" ><strong>Viandes</strong></h3>
                                <p class="alinea shadow-lg p-2 mb-2 bg-body rounded"><font size=4> - Poulet</font></p>
                                <p class="alinea shadow-lg p-2 mb-2 bg-body rounded"><font size=4> - Boeuf</font></p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- poissons -->
            <div class="view overlay">

                <div class="card w-100">
                    <div class="row g-0">

                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title"><strong>Poissons</strong></h3>
                                <p class="alinea shadow-lg p-2 mb-2 bg-body rounded"><font size=4> - Saumon</font></p>
                                <p class="alinea shadow-lg p-2 mb-2 bg-body rounded"><font size=4> - Thon</font></p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- féculents -->
            <div class="view overlay">

                <div class="card w-100">
                    <div class="row g-0">

                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title "><strong>Féculents</strong></h3>
                                <p class="alinea shadow-lg p-2 mb-2 bg-body rounded"><font size=4> - Pâtes</font></p>
                                <p class="alinea shadow-lg p-2 mb-2 bg-body rounded"><font size=4> - Riz</font></p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <!-- fruits et légumes -->
            <div class="view overlay">

                <div class="card w-100">
                    <div class="row g-0">

                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title mb-5"><strong>Fruits et légumes </strong></h3>
                                <p class="alinea shadow-lg p-2 mb-2 bg-body rounded"><font size=4> - Tomates</font></p>
                                <p class="alinea shadow-lg p-2 mb-2 bg-body rounded"><font size=4> - Pommes</font></p>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>