<div style="margin: auto; width: 50%">

    <div class="card w-100">
        <h1 class="mt-5 text-center underline"><strong>Fiche Ami</strong></h1>

        <div class="col-lg-12 col-md-8 mb-4 mb-md-0">

            <div class="view overlay">

                <div class="card w-100">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="https://zupimages.net/up/22/47/pd6v.jpg" class="img-fluid rounded border border-dark" alt="Card image cap">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title"><strong>Nom Prénom</strong></h3>
                                <p class="card-text">
                                    <font size="5">Description de l'ami</font>
                                </p>
                                <p class="card-text"><small class="text-muted">
                                        <font size="5">cc c'est moi</font>
                                    </small></p>
                            </div>
                        </div>
                    </div>
                </div>



                <h3 class="mt-3"><strong>Recettes favorites</strong></h3>

                <!--Recettes favorites-->
                <!--Recette 1-->
                <div class="recettes">
                    <div class="mt-5 card p-4 z-depth-3">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                                <div class="view overlay">
                                    <img class="card-img-left"
                                        src="https://www.hachette-vins.com/uploads/media/cache/thumb_medium/uploads/media/recettes/0001/05/719a78f2443f2372cfe04fbf50d4f45acdb2a3b2.jpeg"
                                        alt="Card image cap">
                                    <a>
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 mb-0 mb-md-0">
                                <div class="card-body">

                                    <!--Title-->
                                    <h3 class="card-title text-center">Tajine d'agneau aux raisins et aux amandes
                                    </h3>
                                    <!--Text-->
                                    <h6 class="card-title"><strong>CONSEIL</strong> DU SOMMELIER </h6>
                                    <p class="card-text">Le gingembre, les raisins et les amandes favorisent une
                                        sauce un peu plus amère et appellent de préférence
                                        vin blanc (voire un rosé). Celui-ci doit être du Sud, d'une acidité basse,
                                        d'un caractère sec et gras (un vin de pays des
                                        Côtes catalanes cépage muscat ou un vin de pays d'Ardèche cépage viognier,
                                        un tavel ou un lirac rosé). Sa richesse aromatique
                                        est nécessaire pour faire face au gingembre. Un vin rouge devra être dans le
                                        même esprit mais avec des tanins ronds
                                        (beaumes-de-venise ou languedoc Montpeyroux). L'appellation
                                        costières-de-nîmes conviendra dans les trois couleurs.
                                    </p>
                                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                    <h6 class="card-title">Temps de préparation : </h6>
                                    <h6 class="card-title">Temps de cuisson : </h6>
                                    <h6 class="card-title">Difficulté : </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Recette 2-->

                <div class="mt-5 card p-4 z-depth-3">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                            <div class="view overlay">
                                <img class="card-img-left"
                                    src="https://www.hachette-vins.com/uploads/media/cache/thumb_medium/uploads/media/recettes/0001/05/d804182a234845465b2c1b3e104994bb71636f2b.jpeg"
                                    alt="Card image cap">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mb-0 mb-md-0">
                            <div class="card-body">

                                <!--Title-->
                                <h3 class="card-title text-center">Croustillants de crabe aux herbes</h3>
                                <!--Text-->
                                <h6 class="card-title"><strong>CONSEIL</strong> DU SOMMELIER </h6>
                                <p class="card-text">Dans cette recette qui associe croustillant et texture friable du
                                    crabe,
                                    le citron équilibre le gras de la sauce et attend le soutien du vin blanc. Ce
                                    dernier sera sec et frais,
                                    et son acidité naturelle permettra d'alléger la préparation. On ira du côté de la
                                    Loire (quincy, reuilly, touraine, cour-cheverny),
                                    du Poitou, de la Bourgogne (petit-chablis, saint-bris) ou de Bordeaux
                                    (entre-deux-mers ou graves).
                                </p>
                                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                <h6 class="card-title">Temps de préparation : </h6>
                                <h6 class="card-title">Temps de cuisson : </h6>
                                <h6 class="card-title">Difficulté : </h6>
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="mt-3"><strong>Vins favoris</strong></h3>
                <!--Vins favoris-->
                <!--Vin 1-->
                <div class="block">
                    <div class="mt-5 card p-4 z-depth-3">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                                <div class="view overlay">
                                    <img class="card-img-left"
                                        src="https://www.hachette-vins.com/uploads/media/tourisme/0001/06/d707a6dbae1a3391b1af81dc91cbf10532a6c077.jpeg"
                                        alt="Card image cap">
                                    <a>
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 mb-0 mb-md-0">
                                <div class="card-body">

                                    <!--Title-->
                                    <h3 class="card-title text-center">AOC Volnay</h3>
                                    <!--Text-->
                                    <h6 class="card-title"><strong>CONSEIL</strong> DU SOMMELIER </h6>
                                    <p class="card-text">Entre Pommard au nord et Meursault au sud, Volnay est situé à
                                        275 m
                                        d'altitude : ce
                                        village étroit et pentu occupe une position assez élevée dans la Côte. Adossé à
                                        la petite
                                        montagne
                                        du
                                        Chaignot, le vignoble est implanté sur des sols calcaires exposés au sud-est. Le
                                        volnay
                                        passe pour
                                        un
                                        vin féminin, suave et subtil : le vin rouge le plus fin de la Côte de Beaune. Il
                                        est assez
                                        précoce.
                                    </p>
                                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                    <h6 class="card-title">Couleur : </h6>
                                    <h6 class="card-title">Potentiel de garde : </h6>
                                    <h6 class="card-title">Principaux cépages : </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Vin 2-->
                <div class="block">
                    <div class="mt-5 card p-4 z-depth-3">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                                <div class="view overlay">
                                    <img class="card-img-left"
                                        src="https://www.hachette-vins.com/uploads/media/tourisme/0001/06/d707a6dbae1a3391b1af81dc91cbf10532a6c077.jpeg"
                                        alt="Card image cap">
                                    <a>
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 mb-0 mb-md-0">
                                <div class="card-body">

                                    <!--Title-->
                                    <h3 class="card-title text-center">AOC Volnay</h3>
                                    <!--Text-->
                                    <h6 class="card-title"><strong>CONSEIL</strong> DU SOMMELIER </h6>
                                    <p class="card-text">Entre Pommard au nord et Meursault au sud, Volnay est situé à
                                        275 m
                                        d'altitude : ce
                                        village étroit et pentu occupe une position assez élevée dans la Côte. Adossé à
                                        la petite
                                        montagne
                                        du
                                        Chaignot, le vignoble est implanté sur des sols calcaires exposés au sud-est. Le
                                        volnay
                                        passe pour
                                        un
                                        vin féminin, suave et subtil : le vin rouge le plus fin de la Côte de Beaune. Il
                                        est assez
                                        précoce.
                                    </p>
                                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                    <h6 class="card-title">Couleur : </h6>
                                    <h6 class="card-title">Potentiel de garde : </h6>
                                    <h6 class="card-title">Principaux cépages : </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>