<div style="margin: auto; width: 50%">
    <div>
        <h1 class="mt-2 text-center"><u><strong>Mes amis <i class="fas fa-user-friends fa-1x"> </i></strong></u></h1>
    </div>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Rechercher une personne" aria-label="Search">
        <button type="submit">Search</button>
    </form>

    <div class="amis white">

        <div class="col-15">
            <div data-spy="scroll" data-target="#myScrollspy"
                style="height:600px;overflow-y: scroll;padding:5px; border: 1px solid #ccc;">
                <h4 id="scrollspyHeading1"><a href="#">Ami 1</a></h4>

                <h4 id="scrollspyHeading2"><a href="#">Ami 2</a></h4>

                <h4 id="scrollspyHeading3"><a href="#">Ami 3</a></h4>

                <h4 id="scrollspyHeading4"><a href="#">Ami 4</a></h4>

                <h4 id="scrollspyHeading5"><a href="#">Ami 5</a></h4>

                <h4 id="scrollspyHeading1"><a href="#">Ami 6</a></h4>

                <h4 id="scrollspyHeading2"><a href="#">Ami 7</a></h4>

                <h4 id="scrollspyHeading3"><a href="#">Ami 8</a></h4>

                <h4 id="scrollspyHeading4"><a href="#">Ami 9</a></h4>

                <h4 id="scrollspyHeading5"><a href="#">Ami 10</a></h4>
            </div>
        </div>
    </div>
    <hr>
</div>