<div style="margin: auto; width: 50%">

    <div>
        <h1 class="mt-2 text-center"><u><strong>Mes amis <i class="fas fa-user-friends fa-1x"> </i></strong></u></h1>
    </div>



    <form class="example-form" id ="rech_amis" role="search" #register="ngForm">


        <input class="form-control basicAutoComplete" type="text" #data placeholder="Rechercher une personne"
            aria-label="Search" ngModel="" name="receveur">
        <button type="submit" (click)="rechercheByLogin(data.value)">
            <font size="2">Search</font>
        </button>
        <button type="button" (click)="demande()">
            <font size="5"><i class="fas fa-user-plus"></i></font>
        </button>



    </form>

    <div class="amis white">

        <div class="col-15">
            <div data-spy="scroll" data-target="#myScrollspy"
                style="height:600px;overflow-y: scroll;padding:5px; border: 1px solid #ccc;">

                <div *ngFor="let d of demandeactu">
                    <h4 id="scrollspyHeading1">{{d.receveur.nom}}
                        <div class="rep">
                            <button class="btn btn-success mt-4 mb-4">Accepter</button>
                            <button class="btn btn-danger mt-4 mb-4">Refuser</button>
                        </div>

                    </h4>
                </div>
            </div>
        </div>
    </div>