<div>
  <ul class="nav blue-gradient lighten-3 py-4 mb-4 font-weight-bold z-depth-1 w-100 nav-fill">
      <li class="nav-item">
          <a class="nav-link white-text" >Déguster moi !</a>
      </li>
      <li class="nav-item">
          <a class="nav-link white-text" >Recettes</a>
      </li>
      <li class="nav-item">
          <a class="nav-link white-text" >Vins</a>
      </li>
      <li class="nav-item">
          <a class="nav-link white-text" >Organiser un repas</a>
      </li>
      <li class="nav-item">
          <a class="nav-link white-text" >Recherche</a>
      </li>
      <li class="nav-item">
        <a class="nav-link white-text" ><i class="fas fa-power-off"></i></a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
