<div style="margin: auto; width: 70%">
     <!--<i class="fas fa-cart-plus fa-4x"></i>-->
     <div class="card ">
        <div class="card-body">
            <div class="favori"> <a class="card-link" (click)="ajoutFavoris()"> Ajouter aux favoris<i
                        class="far fa-star"></i></a></div>
            <h1 class="mt-3 text-center underline">{{vinDetail?.titre}}</h1>
            <br>

            
               
                    <div class=" view overlay text-center"> 
                        <img src="{{vinService.getVinActu().source_image}}"
                            class="img-fluid rounded border border-dark center" alt="Card image cap">
                        <br>Année : {{vinService.getVinActu().sous_titre}}
                        <br>Appelation : {{vinService.getVinActu().region}}
                        <br>Type : {{vinService.getVinActu().type}}
                        <br>Elevage : {{vinDetail?.elevage}}
                        <br>Nombre de bouteilles : {{vinDetail?.nb_bouteilles}}
                        <br>Note : {{vinDetail?.note}}


                        <br>
                        <br>
                    </div>

                    <ul class="list-group list-group-flush">

                        <li class="list-group-item" style="text-align: justify">
                            <div class=" preparation text-center">
                                <br>
                                <h4>Description :</h4>
                            </div>
                            <div *ngFor="let p of gestionPrep(vinDetail?.description)">
                                <ul>
                                    <li>{{p}}</li>
                                </ul>
                            </div>

                        </li>
                       
                    </ul>
        </div>
     </div>
</div>


                

               
                

         