.test table {
    margin-top: 30px;
    margin-left: -50px;
}

img{
  
   margin: auto;
    height : 250px;
    width : auto
}

.preparation{
    border-top-style: solid;
    border-top-width: 1px;
  
}
.list-group {
    padding-right: 50px
   
}

.card{
    margin-top: 30px;
}
.underline{
    text-decoration: underline 2px;
   
}
.favori{
    text-align: right;
}

table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.fas{
    float: right;
    margin-right : 120px;
}
th{
    text-align : center;
}