<div style="margin: auto; width: 50%">
    <h1 class="mt-5 text-center"><u>Fiche Recette : Tajine d'agneau aux raisins et aux amandes</u></h1>

    <!--<i class="fas fa-cart-plus fa-4x"></i>-->

    <div class="card w-100 ">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <div class="view overlay">
                <div style="float:left">
                    <img class="top"
                        src="https://www.hachette-vins.com/uploads/media/cache/thumb_medium/uploads/media/recettes/0001/05/719a78f2443f2372cfe04fbf50d4f45acdb2a3b2.jpeg"
                        alt="Card image cap">
                </div>
                
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                              <th scope="col">Nombre de personnes </th>
                              <th scope="col">Difficulté </th>
                              <th scope="col">Temps de préparation </th>
                              <th scope="col">Temps de cuisson </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">4</th>
                              <td>Moyen</td>
                              <td>20 minutes</td>
                              <td>2 minutes</td>
                            </tr>
                            
                           
                          </tbody>                   
                    </table>
                
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
        </div>
        <div class="card-body">

            <p class="card-text"></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Ingrédients :
                <br>
                <br>- 8 feuilles de brick
                <br>- 300 g de chair de crabe
                <br>- 2 cuil. à soupe de crème fraîche épaisse
                <br>- 1/2 citron
                <br>- 1 échalote
                <br>- 2 cuil. à soupe de ciboulette ciselée
                <br>- 2 cuil. à soupe de basilic ciselé
                <br>- 2 cuil. à soupe de persil plat
                <br>- 4 cuil. à soupe de mayonnaise
                <br>- 1/4 de cuil. à café de piment de Cayenne
                <br>- 2 cuil. à soupe d'huile de tournesol
                <br>- Sel, poivre
                <div class="card-body">
                    <a href="#" class="card-link"><i class="fas fa-cart-plus fa-2x"></i></a>

                </div>
            </li>
            <li class="list-group-item">Préparation :
                <br>
                <br> 1) Préchauffez le four à 220 C (th. 7). Pelez et coupez l'échalote en fines lamelles.

                <br>2) Badigeonnez les feuilles de brick avec l'huile de tournesol et placez-les deux par deux, en
                quinconce,
                pour former une fleur.

                <br>3) Disposez-les dans des ramequins ou sur la plaque du four et faites-les dorer pendant 2 min.
                Sortez-les
                délicatement et laissez-les refroidir dans l'assiette de service.

                <br>4 )Dans un saladier, mélangez le reste des ingrédients : le crabe, la crème fraîche, la mayonnaise,
                l'échalote, le basilic, la ciboulette et le persil. Arrosez ensuite du jus de 1/2 citron. Salez, poivrez
                et ajoutez le piment de Cayenne.

                <br>5) Remplissez les fleurs de brick froides avec cette préparation.
            </li>
            <li class="list-group-item">Accords recommandés :
                <div class="card-body">
                    <a href="#" class="card-link"><i class="fas fa-cart-plus fa-2x"></i></a>

                </div>
            </li>
        </ul>

    </div>
</div>