<div *ngIf="isHome">
    <div style="margin: auto; width: 70%">
      <!-- Card deck -->
      <div class="card-deck mt-3 ml-5 mr-5">
  
        <!-- Card Recette du Jour -->
        <div class="card mb-4 width: 20%">
          <h2 class="card-title text-center mt-3"><strong>RECETTE DU JOUR</strong></h2>
  
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top"
              src="{{recette?.source_image}}"
              alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body">
  
            <!--Title-->
            <h3 class="card-title text-center">{{recette?.titre}}</h3>
            <br>
            <h6 class="card-title">Nombre de personne : {{recette?.nombre_personne}}</h6>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <h6 class="card-title">Temps de Prépararion : {{recetteDetail?.temps_preparation}}</h6>
            <h6 class="card-title">Temps de cuisson : {{recetteDetail?.temps_cuisson}}</h6>
            <h6 class="card-title">Difficulté : {{recette?.difficulty}}</h6>
            <div class="text-center">
              <button type="button" (click)="goToRecette(recette)" class="btn btn-unique">Voir la recette</button>
            </div>
  
          </div>
  
        </div>
        <!-- Card Recette du jour -->
  
        <!-- Card vin du jour -->
        <div class="card mb-4 width: 20%">
          <h2 class="card-title text-center mt-3"><strong>VIN DU JOUR</strong></h2>
  
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top"
              src="{{vin?.source_image}}"
              alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
  
          <!--Card content-->
          <div class="card-body">
  
            <!--Title-->
            <h3 class="card-title text-center">{{vin?.titre}}</h3>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <h6 class="card-title">Description : {{vinDetail?.description}}</h6>
            <h6 class="card-title">Region : {{vinDetail?.region}}</h6>
            <h6 class="card-title">Type : {{vin?.type}}</h6>
          </div>
        </div>
        <!-- Card vin du jour -->
  
      </div>
      <!-- Card deck -->
    </div>
  </div>