<div style="margin: auto; width: 50%">
    

    <!--<i class="fas fa-cart-plus fa-4x"></i>-->

    <div class="card w-100 ">
        <h1 class="mt-5 text-center underline">Mes vins</h1>
        <div class="row">
            <div class="col-lg-6 col-md-8 mb-4 mb-md-0">
                <div class=" view overlay text-center">
                    <img src="https://www.hachette-vins.com/uploads/media/cache/thumb_medium/uploads/media/recettes/0001/05/719a78f2443f2372cfe04fbf50d4f45acdb2a3b2.jpeg"
                        class="img-fluid rounded border border-dark" alt="Card image cap">
                    <br>Nombre de personnes : 4
                    <br>Difficulté : Moyen
                    <br>Temps de préparation : 20 minutes
                    <br>Temps de cuisson : 2 minutes
                    <br>
                    <br>
                </div>

                <ul class="list-group list-group-flush">

                    <li class="list-group-item" style="text-align: justify"> 
                        <div class = " preparation text-center">
                            <br>
                            <h4>Préparation :</h4></div>
                      
                        <br> 1) Préchauffez le four à 220 C (th. 7). Pelez et coupez l'échalote en fines lamelles.

                        <br>2) Badigeonnez les feuilles de brick avec l'huile de tournesol et placez-les deux par deux,
                        en
                        quinconce,
                        pour former une fleur.

                        <br>3) Disposez-les dans des ramequins ou sur la plaque du four et faites-les dorer pendant 2
                        min.
                        Sortez-les
                        délicatement et laissez-les refroidir dans l'assiette de service.

                        <br>4) Dans un saladier, mélangez le reste des ingrédients : le crabe, la crème fraîche, la
                        mayonnaise,
                        l'échalote, le basilic, la ciboulette et le persil. Arrosez ensuite du jus de 1/2 citron. Salez,
                        poivrez
                        et ajoutez le piment de Cayenne.

                        <br>5) Remplissez les fleurs de brick froides avec cette préparation.
                    </li>
                    <li class="list-group-item">Accords recommandés :
                        <div class="card-body">
                            <a href="#" class="card-link"><i class="fas fa-cart-plus fa-2x"></i></a>

                        </div>
                    </li>
                </ul>

            </div>

            <div class="col-lg-6 col-md-8 mb-0 mb-md-0">

                <table class="table table-striped">
                    <thead class="table-dark mt-3">
                        <tr>
                            <th scope="col"> <h5>Ingrédients</h5></th>
                            <th scope="col"><h5> Statut</h5></th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td> 8 feuilles de brick </td>
                            <td> OK </td>
                        </tr>
                        <tr>
                            <td> 300 g de chair de crabe</td>
                            <td class="card-body">
                                <a href="#" class="card-link"><i class="fas fa-cart-plus fa-2x"></i></a>

                            </td>
                        </tr>
                        <tr>
                            <td> 2 cuil. à soupe de crème fraîche épaisse</td>
                            <td class="card-body">
                                <a href="#" class="card-link"><i class="fas fa-cart-plus fa-2x"></i></a>

                            </td>
                        </tr>
                        <tr>
                            <td> 1/2 citron </td>
                            <td> OK </td>
                        </tr>
                        <tr>
                            <td> 1 échalote </td>
                            <td> OK </td>
                        </tr>
                        <tr>
                            <td> 2 cuil. à soupe de ciboulette ciselée</td>
                            <td> OK </td>
                        </tr>
                        <tr>
                            <td> 2 cuil. à soupe de basilic ciselé</td>
                            <td> OK </td>
                        </tr>
                        <tr>
                            <td> 2 cuil. à soupe de crème fraîche épaisse</td>
                            <td class="card-body">
                                <a href="#" class="card-link"><i class="fas fa-cart-plus fa-2x"></i></a>
                        </tr>
                        <tr>
                            <td> 2 cuil. à soupe de persil plat</td>
                            <td class="card-body">
                                <a href="#" class="card-link"><i class="fas fa-cart-plus fa-2x"></i></a>
                        </tr>
                        <tr>
                            <td> 4 cuil. à soupe de mayonnaise</td>
                            <td> OK </td>
                        </tr>
                        <tr>
                            <td> 1/4 de cuil. à café de piment de Cayenne</td>
                            <td> OK </td>
                        </tr>
                        <tr>
                            <td> 2 cuil. à soupe d'huile de tournesol</td>
                            <td> OK </td>
                        </tr>
                        <tr>
                            <td> Sel, poivre</td>
                            <td class="card-body">
                                <a href="#" class="card-link"><i class="fas fa-cart-plus fa-2x"></i></a>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>



        <a>
            <div class="mask rgba-white-slight"></div>
        </a>



        <div class="card-body">

            <p class="card-text"></p>
        </div>

    </div>
</div>